div(class="section" id="experience")
  div(class="container cc-experience")
    div(class="h4 text-center mb-4 title") Work Experience
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-experience-header")
            p October 2021 - Present
            div(class="h5") Jeeny Tech, Lahore
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body desc")
            div(class="h5") Mid Level IOS Developer
            p I am a skilled iOS Swift developer with extensive experience working on ride-hailing applications. At Jeeny, a child startup of Rocket Internet, I have been instrumental in the development of the company's driver app, which is used by thousands of users across Saudi Arabia and Jordan.
            p One of the things I appreciate most about my work at Jeeny is the team's commitment to carefully considering new requirements and implementing best practices to ensure the long-term success and sustainability of the product. Through my expertise in iOS development, I have contributed to the design, development, and testing of features that improve the user experience and enhance the functionality of the driver app.
            p Overall, my experience at Jeeny has allowed me to hone my skills in project planning, requirements gathering, coding, and testing, and I am eager to leverage this experience to make valuable contributions to any development team.
    div(class="card")
      div(class="row")
        div(class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body cc-experience-header")
            p July 2020 - September 2021
            div(class="h5") Pentaloop, Lahore
        div(class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500")
          div(class="card-body desc")
            div(class="h5") Junior IOS Developer
            p As a junior software engineer at Pentaloop, a project-based company with a focus on R&D and implementation of new ideas, I was primarily responsible for maintaining existing apps while also contributing to the development of new projects. Pentaloop's main focus was on VPN technology, and I gained extensive experience in this area during my time there.
            p In addition to my VPN expertise, I also possess knowledge of Ads, Mediations, and In-App Purchases, which I have applied to various projects, including Network Scanner, WIFI Analyzer + Speed test, VPN 2021, and PodLost. Through my work at Pentaloop, I developed strong skills in project management, collaboration, and problem-solving, which I look forward to leveraging in my future roles as a software engineer.