div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/projects/PodLost.png" alt="project image")
      div(data-toggle="modal" data-target="#project2" class="overlay")
        a(style="color:white" data-toggle="modal" data-target="#project2" class="icon")     
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h4(style="margin:auto !important;") PodLost
            p CoreBluetooth

div(class="modal fade" id="project2" tabindex="-1" role="dialog" aria-labelledby="project2Label" aria-hidden="true")
  div(style="max-width: 95%; max-height: 90vh;" class="modal-dialog" role="document")
    div(class="modal-content")
      div(style="margin: 0;" class="modal-header")
        h2(class="modal-title" id="project2Label") PodLost
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        h2 App Intro
        p I completed the Pod Lost project while working at Pentaloop, a private company in Lahore. The app's main purpose was to locate nearby devices using Bluetooth technology. I independently conducted all the research and development work for this project.

        p For the development of the app, I utilized the iOS framework named CoreBluetooth. The app's functionality includes displaying a list of nearby devices and calculating the distance between the selected device and the user's current device.

        p Unfortunately, the app was removed from the App Store due to unintentional violations of Apple's policies by Pentaloop. Despite this setback, the project remains a testament to my ability to develop an innovative app utilizing advanced technologies.
      div(class="footer-head")
        p 
          strong Date: April 2021 - July 2021
        p 
          strong Client: Pentaloop
        p 
          strong Category: iOS Development
      div(class="modal-footer")
        button(type="button" class="btn btn-primary" data-dismiss="modal") Close project