div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/projects/wifiAnalyzer/WifiAnalyzer.png" alt="project image")
      div(data-toggle="modal" data-target="#project1" class="overlay")
        a(style="color:white" data-toggle="modal" data-target="#project1" class="icon")
          
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h4(style="margin:auto !important;") Wifi Analyzer + Speed Test
            p VPN Domain

div(class="modal fade" id="project1" tabindex="-1" role="dialog" aria-labelledby="project1Label" aria-hidden="true")
  div(style="max-width: 95%; max-height: 90vh;" class="modal-dialog" role="document")
    div(class="modal-content")
      div(style="margin: 0;" class="modal-header")
        h2(class="modal-title" id="project1Label") Wifi Analyzer + Speed Test
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        h2 App Intro
        p The Wifi Analyzer + Speed Test app, which was ranked among the top security apps in Russia two years ago, offers customers a secure browsing experience by providing VPN services and concealing their IP address. The app has five modules, including VPN, Network Scan, Hack Scan, IP Location Finder, and Speed Test. The VPN feature allows users to choose from a list of available servers, while the Network Scan feature scans the router and shows the number of devices connected to the internet router device. With the Hack Scan feature, users can check whether their email or website has ever been part of a data breach and what data was compromised. The IP Location Finder feature provides the current location of the user with their IP address. While the Speed Test module is not as mature as other speed test providers like Ookla, it provides users with information about their current internet speed. 
        p The app also includes an interstitial ad and Admob mediation. In addition, three types of auto-renewable in-app purchases are available, including weekly, monthly, and annual subscriptions with a trial period. 
        a(class="btn btn-primary" href="https://apps.apple.com/us/app/wifi-analyzer-speed-test/id1533680988" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor") Download App
      div
        h2 App's Screenshots
        img(src="images/projects/wifiAnalyzer/allAppSS.png" alt="project image")
      div
        p 
      div(class="footer-head")
        h2 Premium Screen and offer screen
        img(src="images/projects/wifiAnalyzer/1599_4.png" alt="project image")
        p 
          strong Date: September 2020 - March 2021
        p 
          strong Client: Pentaloop
        p 
          strong Category: iOS Development
      div(class="modal-footer")
        button(type="button" class="btn btn-primary" data-dismiss="modal") Close project