div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/projects/PassengerApp.png" alt="project image")
      div(data-toggle="modal" data-target="#project4" class="overlay")
        a(style="color:white" data-toggle="modal" data-target="#project4" class="icon")      
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h4(style="margin:auto !important;") Jeeny Passenger App
            p Ride Hailing

div(class="modal fade" id="project4" tabindex="-1" role="dialog" aria-labelledby="project4Label" aria-hidden="true")
  div(style="max-width: 95%; max-height: 90vh;" class="modal-dialog" role="document")
    div(class="modal-content")
      div(style="margin: 0;" class="modal-header")
        h2(class="modal-title" id="project4Label") Jeeny Passenger App
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        h2 App Intro
        p The Jeeny Passenger App, a child company of Rocket Internet, part of the ride-hailing app company Jeeny, is currently live in Jordan and Saudi Arabia with thousands of active users. As a developer, I have primarily worked on the Jeeny Driver App, but I have also contributed to the Jeeny Passenger App as needed. I played an important role in developing some key features for the passenger app, such as the help center, which added significant value to the business by reducing the need for office support staff. Additionally, I worked on implementing Firebase Remote Config, allowing for easy control of app configurations directly from Firebase. With its user-friendly interface and easy-to-use features, the Jeeny Passenger App is a valuable tool for riders looking for a reliable and convenient ride-hailing service.
        a(class="btn btn-primary" href="https://apps.apple.com/us/app/jeeny-%D8%AC%D9%8A%D9%86%D9%8A/id1178701124" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor") Download App
      div(class="footer-head")
        img(src="images/projects/jeeny_app.png" alt="project image")
        p 
          strong Date: It was Live before my joining I am working on features.  
        p 
          strong Client: Jeeny
        p 
          strong Category: iOS Development
      div(class="modal-footer")
        button(type="button" class="btn btn-primary" data-dismiss="modal") Close project