div(class="col-sm-4")
      img(class="portfolio-img card-img-top" src="images/projects/DriverApp.png" alt="project image")
      div(data-toggle="modal" data-target="#project3" class="overlay")
        a(style="color:white" data-toggle="modal" data-target="#project3" class="icon") 
      div(class="card" style="box-shadow:none; background-color:#f8f9fa;")
        div(class="card-body")
          div(class="card-text")
            h4(style="margin:auto !important;") Jeeny Driver App
            p Ride Hailing

div(class="modal fade" id="project3" tabindex="-1" role="dialog" aria-labelledby="project3Label" aria-hidden="true")
  div(style="max-width: 95%; max-height: 90vh;" class="modal-dialog" role="document")
    div(class="modal-content")
      div(style="margin: 0;" class="modal-header")
        h2(class="modal-title" id="project3Label") Jeeny Driver App
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        h2 App Intro
        p The Jeeny Driver App, a subsidiary of Rocket Internet and a part of the ride-hailing company Jeeny, is currently available in Jordan and Saudi Arabia, serving thousands of active users. Designed specifically for drivers, this app boasts a smooth flow and an array of features that are instrumental in helping drivers. My experience working on this app has allowed me to develop a robust skillset in writing clean and forward-thinking code. The app's features are geared towards enhancing the driver's experience, making it easier for them to manage their rides and optimize their work schedule. Among the features I worked on, the help center feature has proven particularly impactful, leading to a significant reduction in office support staff. With its user-friendly interface, the Jeeny Driver App is a valuable tool for drivers seeking to increase their productivity and streamline their work.
        a(class="btn btn-primary" href="https://apps.apple.com/us/app/jeeny-for-drivers/id1456609782" target="_blank" data-aos="zoom-in" data-aos-anchor="data-aos-anchor") Download App
      div(class="footer-head")
        img(src="images/projects/driver_app_2.png" alt="project image")
        p 
          strong Date: It was Live before my joining I am working on features. 
        p 
          strong Client: Jeeny
        p 
          strong Category: iOS Development
      div(class="modal-footer")
        button(type="button" class="btn btn-primary" data-dismiss="modal") Close project